<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>JobsCalc</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/modal.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />
    <link rel="stylesheet" href="/styles/pages/login.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="page-index">
    <header class="page-header">
      <div class="container">
        <section id="top" class="animate-up">
          <h2 class="sr-only">Homepage</h2>
          <img id="logo" src="/images/logo.svg" alt="Logo" />
        </section>

        <div class="separator"></div>

        <section id="summary" class="animate-up delay-1">
        </section>
      </div>
    </header>

    <div class="container">
      <main class="animate-up delay-2">
        <div class="cards">
            <div class="card">
              <p>Realize o login com seu GitHub para utilizar o JobsCalc</p>
              <br><br><br>
              <a class="button orange" href="/auth/github">
                <span>
                  <img src="/images/github-white.svg" alt="Login com GitHub"/>
                </span>
                Acessar com GitHub
              </a>
            </div>
            <!-- end card -->
        </div>
        <!-- end cards -->
      </main>
    </div>
    <!-- end container -->
  </body>
</html>
